                * {
                    margin: 0;
                    padding: 0;
                    box-sizing: border-box;
                }
                
                img {
                    display: block;
                    max-width: 100%;
                }
                
                .container {
                    max-width: 1200px;
                    margin: auto;
                }
                
                header {
                    padding: 60px 0;
                    position: absolute;
                    width: 100%;
                    z-index: 99;
                }
                
                .flex-wrapper {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                
                nav ul {
                    display: flex;
                    list-style-type: none;
                }
                
                nav a {
                    text-decoration: none;
                    color: #CDCDCD;
                    font-size: 15px;
                    line-height: 24px;
                    font-family: Arial;
                    display: block;
                    padding-bottom: 1px;
                }
                
                nav li {
                    margin-left: 35px;
                }
                
                nav li:first-child {
                    margin-left: 0;
                }
                
                .active {
                    color: #FAFAFA;
                    border-bottom: 3px solid #F1CDB3;
                }
                
                .active:hover {
                    border-bottom: none;
                    color: #292929;
                }
                
                .menu-mobile {
                    display: none;
                }
                
                .logo {
                    font-family: Georgia;
                    font-size: 32px;
                    line-height: 35px;
                    color: #F1CDB3;
                    text-decoration: none;
                    letter-spacing: 0.06em;
                }
                
                header p {
                    font-family: Arial;
                    font-size: 13px;
                    line-height: 15px;
                    letter-spacing: 0.1em;
                    color: #fff;
                }
                
                .first-page {
                    padding-top: 180px;
                    background-image: url(./images/backgroundcolor.png);
                    background-size: cover;
                }
                
                .first-page-flex {
                    display: flex;
                }
                
                .first-page .dog {
                    display: inline-block;
                }
                
                h1 {
                    font-family: Georgia;
                    font-weight: 400;
                    font-size: 44px;
                    line-height: 57px;
                    color: #fff;
                    max-width: 325px;
                    margin-top: 163px;
                }
                
                .first-page p {
                    max-width: 460px;
                    font-family: Arial;
                    font-size: 15px;
                    line-height: 24px;
                    color: #CDCDCD;
                    padding: 42px 0 42px 0;
                    margin-right: 42px;
                }
                
                .button {
                    display: inline-block;
                    padding: 15px 45px;
                    border-radius: 100px;
                    text-decoration: none;
                    font-family: georgia;
                    font-size: 17px;
                    line-height: 22px;
                    letter-spacing: 0.06em;
                    color: #292929;
                }
                
                .first-page .button {
                    background-color: #F1CDB3;
                }
                
                .first-page .button:hover {
                    background-color: #FDDCC4;
                }
                
                .about-the-shelter {
                    background-color: #fff;
                    padding: 80px 0 100px 0;
                }
                
                .about-the-shelter-flex {
                    display: flex;
                    justify-content: center;
                }
                
                .about-the-shelter .pic {
                    max-width: 430px;
                    margin-right: 126px;
                }
                
                .about-the-shelter .text {
                    max-width: 430px;
                }
                
                .about-the-shelter h2 {
                    font-family: Georgia;
                    font-weight: 400;
                    font-size: 35px;
                    line-height: 45px;
                    letter-spacing: 0.06em;
                    color: #545454;
                    margin-bottom: 25px;
                }
                
                .about-the-shelter p {
                    font-family: Arial;
                    font-size: 15px;
                    line-height: 24px;
                    color: #4C4C4C;
                }
                
                .about-the-shelter .first-paragraph {
                    margin-bottom: 25px;
                }
                
                .our-friends {
                    background-color: rgba(246, 246, 246, 1);
                    ;
                    padding: 80px 0 100px 0;
                    text-align: center;
                }
                
                .our-friends h2 {
                    font-family: Georgia;
                    font-weight: 400;
                    font-size: 35px;
                    line-height: 45px;
                    text-align: center;
                    letter-spacing: 0.06em;
                    color: #545454;
                    padding-bottom: 60px;
                    margin-bottom: 0;
                }
                
                .our-friends-flex {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-align: center;
                }
                
                .our-friends .cards {
                    display: flex;
                }
                
                .our-friends .cards div {
                    background-color: #FAFAFA;
                }
                
                .our-friends .cards div:hover {
                    background-color: #fff;
                }
                
                .our-friends .jennifer {
                    margin-right: 90px;
                    margin-left: 90px;
                }
                
                .our-friends .cards p {
                    font-family: Georgia;
                    font-size: 20px;
                    line-height: 23px;
                    text-align: center;
                    letter-spacing: 0.06em;
                    color: #545454;
                    padding: 30px 30px;
                }
                
                .our-friends .button {
                    border: 2px solid #F1CDB3;
                    margin-bottom: 30px;
                }
                
                .our-friends .button:hover {
                    background-color: #FDDCC4;
                    border-color: #FDDCC4;
                }
                
                .our-friends .get {
                    border: none;
                    background-color: rgba(241, 205, 179, 1);
                    margin-top: 60px;
                }
                
                .our-friends .get:hover {
                    background-color: #FDDCC4;
                }
                
                .our-friends .arrow-left {
                    width: 52px;
                    height: 52px;
                    background-image: url(./images/arrow-left.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    border: 2px solid #F1CDB3;
                    border-radius: 100px;
                    background-color: transparent;
                }
                
                .our-friends .arrow-right {
                    width: 52px;
                    height: 52px;
                    background-image: url(./images/arrow-right.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    border: 2px solid #F1CDB3;
                    border-radius: 100px;
                    background-color: transparent;
                }
                
                .our-friends .arrow-left:hover {
                    background-color: #FDDCC4;
                    border-color: #FDDCC4;
                }
                
                .our-friends .arrow-right:hover {
                    background-color: #FDDCC4;
                    border-color: #FDDCC4;
                }
                
                .help {
                    background-color: #fff;
                    padding: 80px 0 100px 0;
                }
                
                .help h2 {
                    font-family: Georgia;
                    font-weight: 400;
                    font-size: 35px;
                    line-height: 45px;
                    text-align: center;
                    color: #545454;
                    letter-spacing: 0.06em;
                }
                
                .help-flex {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                }
                
                .help-flex div {
                    margin-right: 60px;
                    margin-left: 60px;
                    margin-top: 60px;
                    text-align: center;
                }
                
                .help-flex img {
                    display: inline-block;
                }
                
                .help-flex p {
                    font-family: Georgia;
                    font-size: 20px;
                    line-height: 23px;
                    letter-spacing: 0.06;
                    color: #545454;
                    padding-top: 30px;
                }
                
                .donation {
                    background-color: rgba(246, 246, 246, 1);
                    padding: 80px 0 100px 0;
                }
                
                .donation-flex {
                    display: flex;
                }
                
                .donation .donation-dog {
                    margin: 0 30px 0 142px;
                }
                
                .donation-text {
                    max-width: 380px;
                }
                
                .donation h2 {
                    font-family: Georgia;
                    font-weight: 400;
                    font-size: 35px;
                    line-height: 45px;
                    letter-spacing: 0.06em;
                    color: #545454;
                }
                
                .donation-text .bank {
                    font-family: Georgia;
                    font-size: 15px;
                    line-height: 17px;
                    letter-spacing: 0.06em;
                    color: #545454;
                    padding: 20px 0 20px 0;
                }
                
                .donation-text .info {
                    font-family: Arial;
                    font-style: italic;
                    font-size: 12px;
                    line-height: 18px;
                    color: #B2B2B2;
                    margin-top: 20px;
                    margin-bottom: 101px;
                }
                
                .donation .card-number {
                    font-family: Georgia;
                    font-size: 20px;
                    line-height: 23px;
                    letter-spacing: 0.06em;
                    color: #545454;
                    border: none;
                    background-color: #F1CDB3;
                    padding: 10px 15px 10px 15px;
                    border-radius: 9px;
                }
                
                .donation .card-number::before {
                    content: url(./images/credit-card.svg);
                    padding: 10px 15px 10px 0;
                }
                
                footer {
                    background-image: url(./images/backgroundcolor.png);
                    background-size: cover;
                    padding-top: 40px;
                }
                
                footer .footer-flex {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                }
                
                footer .footer-flex>div {
                    width: 300px;
                }
                
                footer h2 {
                    color: #fff;
                    font-size: 35px;
                    letter-spacing: 0.06em;
                    font-weight: 400;
                    padding-top: 16px;
                    margin-bottom: 33px;
                }
                
                footer p {
                    min-height: 46px;
                    padding-left: 60px;
                    display: flex;
                    align-items: center;
                    color: #F1CDB3;
                    margin-bottom: 27px;
                }
                
                footer a {
                    color: #F1CDB3;
                    text-decoration: none;
                }
                
                footer .email {
                    background: url(./images/email-logo.svg) no-repeat left center;
                }
                
                footer .tel {
                    background: url(./images/phone.svg) no-repeat left center;
                }
                
                footer .local {
                    background: url(./images/pin.svg) no-repeat left center;
                    padding-left: 42px;
                }
                
                @media(max-width:1200px) {
                    .container {
                        max-width: 95%;
                    }
                    .our-friends .jennifer {
                        margin-right: 30px;
                        margin-left: 30px;
                    }
                }
                
                @media(max-width:1055px) {
                    .our-friends .woody {
                        display: none;
                    }
                }
                
                @media(max-width:990px) {
                    h1 {
                        margin-top: 100px;
                    }
                }
                
                @media(max-width:865px) {
                    .our-friends .jennifer {
                        margin-right: 0;
                    }
                    .first-page .dog {
                        display: none;
                    }
                    h1 {
                        margin-top: 20px;
                    }
                    .first-page .button {
                        margin-bottom: 50px;
                    }
                    .about-the-shelter .text {
                        max-width: 300px;
                    }
                    .about-the-shelter-flex {
                        align-items: center;
                    }
                    .donation-flex {
                        flex-wrap: wrap;
                    }
                    .donation-text {
                        margin-top: 30px;
                    }
                    .donation-text .info {
                        margin-bottom: 0;
                    }
                    .donation {
                        padding-bottom: 50px;
                    }
                }
                
                @media(max-width:839px) {
                    .footer-flex {
                        flex-wrap: wrap;
                        flex-direction: row-reverse;
                    }
                    .about-the-shelter .pic {
                        margin-right: 50px;
                    }
                }
                
                @media(max-width:865px) {
                    .donation .donation-dog {
                        margin: 0;
                    }
                    footer .footer-flex {
                        justify-content: space-around;
                    }
                }
                
                @media(max-widt:845px) {}
                
                @media(max-width:750px) {
                    nav {
                        display: none;
                    }
                    .menu-mobile {
                        display: inline-block;
                        width: 30px;
                    }
                    .our-friends .jennifer {
                        display: none;
                    }
                    .donation .donation-dog {
                        margin: 0;
                    }
                }
                
                @media(max-width:670px) {
                    .footer-flex div {
                        margin-right: 20px;
                    }
                    .about-the-shelter-flex {
                        flex-wrap: wrap;
                    }
                    .about-the-shelter .pic {
                        margin-bottom: 30px;
                    }
                    footer h2 {
                        font-size: 30px;
                    }
                }
                
                @media(max-width:425px) {
                    h1 {
                        font-size: 37px;
                    }
                    .our-friends .arrow-left {
                        order: 1;
                    }
                    .our-friends .arrow-right {
                        order: 2;
                    }
                    .our-friends .cards {
                        width: 100%;
                        justify-content: center;
                        margin-bottom: 30px;
                    }
                    .our-friends-flex {
                        flex-wrap: wrap;
                        justify-content: space-around;
                    }
                }
                
                @media(max-width:376px) {
                    .donation .card-number {
                        font-size: 16px;
                    }
                }
                
                @media(max-widt:375px) {
                    .donation-text {
                        max-width: 320px;
                    }
                }